@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&display=swap'); /*Outfit*/

body {
    font-family: Outfit;
}

.server {
    background-color: grey;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    margin-bottom: 75px;
}

.flex {
    display: flex;
    gap: 10px;
    align-items: center;
}

.green {
    background-color: green;
    padding: 10px;
    border-radius: 999px;
    cursor: pointer;
}
.orange {
    background-color: orange;
    padding: 10px;
    border-radius: 999px;
}
.red {
    background-color: red;
    padding: 10px;
    border-radius: 999px;
    cursor: pointer;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
li {
    list-style: none;
}

#start-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
}